.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
inst/doc
/doc/
/docs/
/Meta/
zzz/MS2extract_logo.jpg
.NEWS.md
NEWS.md
vignettes/phenolics_6545_Neg20.msp
vignettes/Batch6545_Neg20.Rmd
inst/extdata/~$GNPS_template.xlsx
